


.eighthPage {
  height: 100vh;
}

.eighthPage::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(132, 81, 235, 1) 0%,
    rgba(46, 106, 200, 1) 50%,
    rgba(22, 211, 251, 1) 100%
  );
  background-size: 100% 120%;
  transform: rotate(-10deg) scale(1.2);
  z-index: -1;
  -webkit-transform: rotate(-5deg) scale(1.2);
  -moz-transform: rotate(-10deg) scale(1.2);
  -ms-transform: rotate(-10deg) scale(1.2);
  -o-transform: rotate(-10deg) scale(1.2);
}

.fly-2 {
  font-size: 30px;
}

.ep-col {
  vertical-align: middle;
}

.ninthPage {
  padding-top: 100px;
  height: 200px;
  text-align: center;
}

body {
  width: 100vw;
}

.accordion-button::after {
  background-image: url("./images/plus.svg");
}
.accordion-button:not(.collapsed)::after {
  background-image: url("./images/dash-lg.svg");
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: #297bff;
  border: 0px none #ffffff;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
  background: #8ac2ff;
}
::-webkit-scrollbar-thumb:active {
  background: #a3a3a3;
}
::-webkit-scrollbar-track {
  background: #002375;
  border: 0px none #ffffff;
  border-radius: 100px;
}
::-webkit-scrollbar-track:hover {
  background: #00558a;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.firstPage {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    background: linear-gradient(
      45deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(132, 81, 235, 1) 0%,
      rgba(46, 106, 200, 1) 50%,
      rgba(22, 211, 251, 1) 100%
    );
  }
  
  .custom-nav {
    margin-top: 20px;
    position: sticky;
    color: white;
    max-width: 1000px;
    margin: auto;
  }
  
  .btn-custom-start {
    border: 1px solid blue;
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&family=Poppins:wght@300&display=swap");
  
  .box-sign-up {
    background-color: white;
    width: 70%;
    height: auto;
    margin: auto;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  
  .btn-signup {
    margin-top: 25px;
    width: 70%;
    color: white;
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(81, 91, 235, 1) 0%,
      rgba(138, 112, 255, 1) 50%,
      rgba(22, 211, 251, 1) 100%
    );
    border: 0px;
    border-radius: 22px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    -o-border-radius: 22px;
  }

.fly {
  font-family: "Poppins", sans-serif;
  color: white;
  text-align: left;
}

.fly-text {
  font-family: "Poppins", sans-serif;
  color: white;
}


.secondPage {
    margin-top: -15vh;
    padding-top: 100px;
    -webkit-clip-path: polygon(0 14%, 100% 0%, 100% 85%, 0% 100%);
    clip-path: polygon(0 14%, 100% 0%, 100% 85%, 0% 100%);
background-color: #f3f3fb;

  }
  
  .featureBox {
    margin: auto;
  }
  
  .feature-icon {
    width: 50px;
    height: auto;
  }

  .thirdPage {
    margin-top: 70px;
    background-color: white;
  }  

  .fourthPage {
    background-color: #f3f3fb;
    -webkit-clip-path: polygon(0 14%, 100% 0%, 100% 85%, 0% 100%);
clip-path: polygon(0 14%, 100% 0%, 100% 85%, 0% 100%);
  }

  .fifthPage {
    /* height: 100vh; */
    height: auto;
    text-align: center;
    margin-top: 100px;
    background-color: white;
  }

  .sixthPage {
    /* height: 100vh; */
    /* height: auto; */
    /* margin-top: 100px; */
    background-color: #f3f3fb;
    -webkit-clip-path: polygon(0 14%, 100% 0%, 100% 85%, 0% 100%);
    clip-path: polygon(0 14%, 100% 0%, 100% 85%, 0% 100%);
  }
  
  .planBox {
    /* width: 80%; */
    margin: auto;
    background-color: white;
    /* margin-top: 100px; */
    padding: 3%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  
  .planBox:hover {
    box-shadow: rgba(125, 181, 255, 0.25) 0px 54px 55px,
      rgba(122, 213, 255, 0.12) 0px -12px 30px,
      rgba(90, 255, 255, 0.12) 0px 4px 6px,
      rgba(116, 239, 255, 0.17) 0px 12px 13px,
      rgba(105, 255, 243, 0.09) 0px -3px 5px;
  }

  .seventhPage {
    overflow: hidden;
    background-color: white;
  }


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .firstPage{
        height: 90vh;
    }
  .fp-col {
    margin-top: 50px;
    padding: 10px;
  }
  .box-sign-up {
    width: 90%;
  }
  .fly {
    font-size: 55px;
  }

  .fly-text {
    font-size: 15px;
  }
  .secondPage{
    height: 110vh;
  }
  .mobile_thirdPage{
    width: 60%;
    margin: auto;
    margin-left: 15%;
    }
    .thirdPage{
        height: 100vh;
    }
    .fourthPage{
        height: 130vh;
        padding-top: 200px;
    }
.sixthPage{
    height: 130vh;
    padding-top: 200px;
}
.planBox{
    margin-top: 25px;
    width: 85%;
}
.seventhPage{
    height: 60vh;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    margin: auto;
}
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .firstPage{
        height: 90vh;
    }
  .fp-col {
    margin-top: 50px;
    padding: 20px;
  }
  .box-sign-up {
    width: 80%;
  }
  .fly {
    font-size: 50px;
    text-align: center;
  }

  .fly-text {
    font-size: 15px;
  }
  .secondPage{
    height: 90vh;
  }
  .mobile_thirdPage{
    width: 100%;
    margin: auto;
  }
  .thirdPage{
    height: 50vh;
  }
  .fourthPage{
    height: 80vh;
    padding-top: 200px;
}
.sixthPage{
    height: 100vh;
    padding-top: 200px;
}
.planBox{
    margin-top: 25px;
    width: 90%;
}
.seventhPage{
    height: 75vh;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    margin: auto;
}
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .firstPage{
        height: 100vh;
    }
  .fp-col {
    margin-top: 100px;
    padding: 35px;
  }
  .fly {
    font-size: 50px;
  }

  .fly-text {
    font-size: 10px;
  }
  .secondPage{
    height: 130vh;
  }
  .mobile_thirdPage{
    width: 70%;
    margin-left: 20px;
    }
.thirdPage{
    height: 70vh;
}
.fourthPage{
    height: 110vh;
    padding-top: 150px;
}
.sixthPage{
    height: 130vh;
    padding-top: 150px;
}
.planBox{
    margin-top: 50px;
    width: 80%;
}
.seventhPage{
    height: 85vh;
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    margin: auto;
}
}
